server:
  port: 8101
  error:
    whitelabel:
      enabled: false
    include-exception: true
    include-message: always
    include-stacktrace: always
    include-binding-errors: always

---
# spring
spring:
  application:
    name:  @artifactId@
  profiles:
    active: @profile@
  thymeleaf:
    mode: HTML
    cache: false
  tomcat:
    #在请求延迟高时，避免线程被快速占满
    connection-timeout: 20000
    threads:
      #最大工作线程数,提高并发请求处理能力
      max: 500
      # 最小空闲线程数, 避免流量突增时临时创建线程的延迟
      min-spare: 50
      # 最大连接数,提升同时处理的连接数上限
    max-connections: 10000
    # 等待队列长度
    accept-count: 1000
    # 减少重复建立TCP连接的开销
    keep-alive-timeout: 30000
    max-keep-alive-requests: 100
  compression:
    # 启用GZIP压缩
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json # 压缩类型
    # 最小压缩响应大小
    min-response-size: 1024
    # 开启虚拟线程
  threads:
    virtual:
      enabled: true
  # 开启懒加载
#  main:
#    lazy-initialization: true
---
# 关闭缓存
spring:
  jpa:
    properties:
      hibernate:
        cache:
          use_second_level_cache: false
          use_query_cache: false
        region:
          factory_class: org.hibernate.cache.internal.NoCachingRegionFactory
---
spring:
  sql:
    init:
      mode: never
      platform: mysql
      continue-on-error: true
      encoding: UTF-8
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
    # 动态数据源文档 https://www.kancloud.cn/tracy5546/dynamic-datasource/content
    dynamic:
      # 性能分析插件(有性能损耗 不建议生产环境使用)
      p6spy: true
      # 设置默认的数据源或者数据源组,默认值即为 master
      primary: master
      # 严格模式 匹配不到数据源则报错
      strict: true
      hikari:
        # 最大连接池数量
        maxPoolSize: 20
        # 最小空闲线程数量
        minIdle: 10
        # 配置获取连接等待超时的时间
        connectionTimeout: 30000
        connection-test-query: SELECT 1
        minimum-idle: 5
        maximum-pool-size: 50
        pool-name: Hikari
        # 校验超时时间
        validationTimeout: 5000
        # 空闲连接存活最大时间，默认10分钟
        idleTimeout: 600000
        # 此属性控制池中连接的最长生命周期，值0表示无限生命周期，默认30分钟
        maxLifetime: 1800000
        # 多久检查一次连接的活性
        keepaliveTime: 30000
        data-source-properties:
          prepStmtCacheSize: 250
          prepStmtCacheSqlLimit: 2048
          cachePrepStmts: true
    hikari:
      connection-timeout: 5000
      connection-test-query: SELECT 1
      idle-timeout: 600000
      minimum-idle: 5
      maximum-pool-size: 50
      max-lifetime: 1800000
      pool-name: Hikari
      validation-timeout: 5000
      data-source-properties:
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        cachePrepStmts: true

---
springdoc:
  default-flat-param-object: true
  api-docs:
    resolve-schema-properties: true
  swagger-ui:
    disable-swagger-default-url: true
    operations-sorter: method
    show-common-extensions: true
    show-extensions: true
    oauth:
      use-pkce-with-authorization-code-grant: false
      app-name: ${spring.application.name}

---
# 短信配置
sms:
  config-type: yaml
  blends:
    tencent:
      #框架定义的厂商名称标识
      supplier: ${platform.access.sms.default-channel}
      #有些称为accessKey有些称之为apiKey，也有称为sdkKey或者appId。
      access-key-id: ${platform.access.sms.tencent.access-key-value}
      #称为accessSecret有些称之为apiSecret。
      access-key-secret: ${platform.access.sms.tencent.access-key-secret}
      #您的短信签名
      signature: ${platform.access.sms.tencent.signature}
      #模板ID 如果不需要简化的sendMessage方法可以不配置
      template-id: ${platform.access.sms.verification-code-template-value}
      sdk-app-Id: ${platform.access.sms.tencent.sdk-app-value}
      # 随机权重，负载均衡的权重值依赖于此，默认为1，如不需要负载均衡可不进行配置
      weight: 1
      #配置标识名称 如果你使用的yml进行配置，则blends下层配置的就是这个，可为空，如果你使用的接口类配置，则需要设置值
      #需要注意的是，不同的配置之间config-id不能重复，否则会发生配置丢失的问题
      config-id: XXX
      #短信自动重试间隔时间  默认五秒
      retry-interval: 5
      # 短信重试次数，默认0次不重试，如果你需要短信重试则根据自己的需求修改值即可
      max-retries: 0
      # 当前厂商的发送数量上限，默认不设置上限
      maximum: 10000
  is-print: false